*{
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #040220;
}
.cont{
    position: absolute;
    /* border: 2px solid blue; */
    display: flex;
    top: 10%;
    left: 5%;
    align-items: center;
}

.cont-about{
    position: absolute;
    /* border: 2px solid blue; */
    display: flex;
    top: 20%;
    left: 54%;
    align-items: center;
}

.cont-text{
    position: absolute;
    left: 50%;
    width: 300px; 
    padding: auto;
}

.cont-about-text{
    position: absolute;
    left: -32%;
    /* font-weight: 700; */
    width: 400px; 
    padding: auto;
    text-align: end;
}

.cont-about-text h3{
    font-size: 50px;
}
.cont-text h1{
    /* color: white; */
    font-size: 50px;

}
.off-topc{
    position: absolute;
    top: 20%;
    left: 26%;
    border: 1px solid brown;
    /* border-radius: 60px; */
    /* background-color: red; */
}

.red-circle{ 
    height: 250px;
    width: 250px;
    background-color: green;
    border-radius: 50%;
}

.red-circle-about{
    height: 450px;
    width: 450px;
    background-color: green;
    border-radius: 50%;
}
.small-circle{
    position: absolute;
    left: 10%;
    top: 3%;
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
}


.cont-about{
    /* border: 2px solid red; */
}
